.details {
    padding: 10px 30px;
    margin: 10px 0px;
    background-color: green;
    color: white;
    border-radius: 5px;
  }
  
  .card-bg{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 4px;
  }